.DS_Store
Chapter 6 - Unit Tests/__pycache__/square_calc.cpython-312.pyc
Chapter 6 - Unit Tests/__pycache__/test_square_calc.cpython-312-pytest-7.4.4.pyc
Chapter 6 - Unit Tests/__pycache__/test_hello.cpython-312-pytest-7.4.4.pyc
Chapter 6 - Unit Tests/__pycache__/hello.cpython-312.pyc
Chapter 6 - Unit Tests/test/__pycache__/__init__.cpython-312.pyc
Chapter 6 - Unit Tests/test/__pycache__/test_hello.cpython-312-pytest-7.4.4.pyc
